<footer class="app-footer">
  <div class="footer-container">

    <div class="footer-brand">
      <span class="footer-title">MonitorGPS</span>

      <span class="footer-description">
        Monitoreo vehicular en tiempo real
      </span>
    </div>

    <div class="footer-accessibility">

      <img
        src="assets/image/logo-AA.png"
        alt="Sitio web accesible"
      >

      <a
        href="assets/documents/CONFORMIDAD-ACCESIBILIDAD-WEB.pdf"
        download
        class="footer-document focus-ring"
        aria-label="Descargar declaración de conformidad en accesibilidad"
      >
        <i
          class="fi fi-rr-file-download"
          aria-hidden="true"
        ></i>

        <span>Declaración de accesibilidad</span>
      </a>

    </div>

  </div>
</footer>